@model List<GetCarFilterQueryResult>
@{
    Layout = null;
    int count = 0;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>


    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>



        @await Component.InvokeAsync("_DefaultNavbarComponentPartial")


        <div class="hero inner-page" style="background-image: url('/carrentals-master/images/hero_1_a.jpg');">

            <div class="container">
                <div class="row align-items-end ">
                    <div class="col-lg-5">

                        <div class="intro">
                            <h1><strong>Arama Sonuçları</strong></h1>
                            <div class="custom-breadcrumbs"><a href="index.html">Home</a> <span class="mx-2">/</span> <strong>Araç Listesi</strong></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.carNotExist != null)
        {
            <div class="site-section bg-light">
                <div class="container">
                    <div class="card-body">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h6><i class="fas fa-exclamation-triangle"></i><b> Dikkat!</b></h6>
                            @ViewBag.carNotExist
                        </div>
                    </div>
                </div>
            </div>
        }

        else
        {
            <div class="site-section bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h2 class="section-heading"><strong>Araç Listesi</strong></h2>
                            <p class="mb-5">Arama sonuçlarına göre listelenen araçlar alttaki gibidir.</p>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (var item in Model)
                        {
                            count++;
                            var carModalId = "carModal" + count;
                            <div class="col-md-6 col-lg-4 mb-4">

                                <div class="listing d-block  align-items-stretch">
                                    <div class="listing-img h-100 mr-4">
                                        <img src="@item.ImageUrl" alt="Image" class="img-fluid clickable" style="width:fit-content;object-fit:cover" data-toggle="modal" data-target="#carModalId">
                                    </div>
                                    <div class="listing-contents h-100">
                                        <h3 class="clickable" data-toggle="modal" data-target="#carModalId">@item.BrandName @item.Model</h3>
                                        <div class="rent-price">
                                            <strong>@((int)@item.Price * ViewBag.numberOfDay) ₺</strong><span class="mx-1">/</span>@ViewBag.numberOfDay Günlük
                                        </div>
                                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                            <div class="listing-feature pr-4">
                                                <span class="caption">Yıl:</span>
                                                <span class="number">@item.Year</span>
                                            </div>
                                            <div class="listing-feature pr-4">
                                                <span class="caption">Kilometre:</span>
                                                <span class="number">@item.Mileage</span>
                                            </div>
                                            <div class="listing-feature pr-4">
                                                <span class="caption">Yakıt Tipi:</span>
                                                <span class="number">@item.EngineType</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p><a href="#" class="btn btn-primary btn-sm">Şimdi Kirala</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="carModalId" tabindex="-1" role="dialog" aria-labelledby="carModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="carModalLabel">Araç Bilgileri</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="listing d-block align-items-stretch">
                                                <div class="listing-img h-100 mr-4 mt-3">
                                                    <img src="@item.ImageUrl" alt="Image" class="img-fluid" style="width:100%; object-fit:cover;">
                                                </div>
                                                <div class="listing-contents h-100">
                                                    <h3>@item.BrandName @item.Model</h3>
                                                    <div class="rent-price">
                                                        <strong>₺@item.Price</strong><span class="mx-1">/</span>Günlük
                                                    </div>
                                                    <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                                        <div class="listing-feature pr-4">
                                                            <span class="caption">Yıl:</span>
                                                            <span class="number">@item.Year</span>
                                                        </div>
                                                        <div class="listing-feature pr-4">
                                                            <span class="caption">Kilometre:</span>
                                                            <span class="number">@item.Mileage</span>
                                                        </div>
                                                        <div class="listing-feature pr-4">
                                                            <span class="caption">Yakıt Tipi:</span>
                                                            <span class="number">@item.EngineType</span>
                                                        </div>
                                                    </div>
                                                    <div>

                                                        <ul>
                                                            <li>Renk: @item.Color</li>
                                                            <li>Beygir Gücü: @item.Horsepower</li>
                                                            <li>Vites Türü: @item.Transmission</li>
                                                            <li>Hava Yastıkları: @item.NumberOfAirbags</li>
                                                            <li>Klima: @(item.HasAirConditioning ? "Evet":"Hayır")</li>
                                                            <li>GPS: @(item.HasGPS ? "Evet":"Hayır")</li>
                                                            <li>Sunroof: @(item.HasSunroof ? "Evet":"Hayır")</li>
                                                            <li>Bluetooth: @(item.HasBluetooth ? "Evet":"Hayır")</li>
                                                            <li>Geri Görüş Kamerası: @(item.HasBackupCamera ? "Evet":"Hayır")</li>
                                                            <li>ABS: @(item.HasABS ? "Evet":"Hayır")</li>
                                                            <li>Şerit Takip Asistanı: @(item.HasLaneAssist ? "Evet":"Hayır")</li>
                                                            <li>Park Sensörleri: @(item.HasParkingSensors ? "Evet":"Hayır")</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p><button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button></p>
                                            <p><a href="#" class="btn btn-primary btn-sm">Şimdi Kirala</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        }



        @await Component.InvokeAsync("_DefaultTestimonialsComponentPartial")

        @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    </div>

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>

</html>

